{% set locationList = [
  {
    name: "Birmingham"
  },
  {
    name: "Bradford"
  },
  {
    name: "Glasgow"
  },
  {
    name: "Hatton Cross"
  },
  {
    name: "Manchester"
  },
  {
    name: "Newcastle"
  },
  {
    name: "Newport"
  },
  {
    name: "Taylor House"
  }
] 

%}


{% macro displayLocation(name, id) %}
  <li id="ss_opt{{id}}" role="option">
        {{name}}
  </li>
{% endmacro%}


{% macro filterByLocation() %}
<div class="listbox-area">
  <div class="left-area">
    
    <ul id="ss_imp_list"
        tabindex="0"
        role="listbox"
        aria-labelledby="ss_imp_l">
      {% for location in  locationList%}
        {{displayLocation(location.name, loop.index)}}
      {% endfor %}

    </ul>
    <div role="toolbar"
         aria-label="Actions"
         class="toolbar">
      <button type="button"
              id="ex1-up"
              class="toolbar-item selected"
              aria-keyshortcuts="Alt+ArrowUp"
              aria-disabled="true" style="visibility:hidden">
        Up
      </button>
      <button type="button"
              id="ex1-down"
              class="toolbar-item"
              tabindex="-1"
              aria-keyshortcuts="Alt+ArrowDown"
              aria-disabled="true" style="visibility:hidden">
        Down
      </button>
      <button type="button"
              id="ex1-delete"
              class="toolbar-item move-right-btn"
              tabindex="-1"
              aria-keyshortcuts="Alt+ArrowRight Delete"
              aria-disabled="true">
        Add >>  
      </button>
    </div>
  </div>
  <div class="right-area">
    <ul id="ss_unimp_list"
        tabindex="0"
        role="listbox"
        aria-labelledby="ss_unimp_l"
        aria-activedescendant="">
    </ul>
    <button type="button"
            id="ex1-add"
            class="move-left-btn"
            aria-keyshortcuts="Alt+ArrowLeft Enter"
            aria-disabled="true">
      Remove
    </button>
  </div>
  <div class="offscreen">
    Last change:
    <span aria-live="polite" id="ss_live_region"></span>
  </div>
</div>

{% endmacro %}
