{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro displayLocation(name, id) %}
  <li id="ss_opt{{id}}" role="option">
        {{name}}
  </li>
{% endmacro%}


{% macro filterByLocation(addLocations, removeLocations) %}
<div class="listbox-area">
  <div class="left-area">    
    <ul id="ss_imp_list"
        tabindex="0"
        role="listbox"
        aria-labelledby="ss_imp_l">
      {% for location in  addLocations%}
        {{displayLocation(location.name, location.index)}}
      {% endfor %}
    </ul>
    <div role="toolbar"
         aria-label="Actions"
         class="toolbar">
      <button type="button"
              id="ex1-up"
              class="toolbar-item selected"
              aria-keyshortcuts="Alt+ArrowUp"
              aria-disabled="true" style="display:none;">
        Up
      </button>
      <button type="button"
              id="ex1-down"
              class="toolbar-item"
              tabindex="-1"
              aria-keyshortcuts="Alt+ArrowDown"
              aria-disabled="true" style="display:none;">
        Down
      </button>
      <button type="button"
              id="ex1-delete"
              class="toolbar-item move-right-btn"
              tabindex="-1"
              aria-keyshortcuts="Alt+ArrowRight Delete"
              aria-disabled="true">
        Add
      </button>
    </div>
  </div>
  <div class="right-area">
    <ul id="ss_unimp_list"
        tabindex="0"
        role="listbox"
        aria-labelledby="ss_unimp_l"
        aria-activedescendant="">
      {% for location in  removeLocations%}
        {{displayLocation(location.name, location.index)}}
      {% endfor %}
    </ul>
    <button type="button"
            id="ex1-add"
            class="move-left-btn"
            aria-keyshortcuts="Alt+ArrowLeft Enter"
            aria-disabled="true">
      Remove
    </button>
  </div>
  <div class="offscreen">
    Last change:
    <span aria-live="polite" id="ss_live_region"></span>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter filter-by-location-done-button">
    {{ govukButton({
      text: "Done",
      preventDoubleClick: true,
      attributes: {
        "id": "my-button"
        }
      }) }}
  </div>
  <div class="govuk-grid-column-three-quarters filter-by-location-cancel-button">
    <a href="#" class="govuk-link">Cancel</a>
  </div>
</div>
  

{% endmacro %}
