{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro formatTaskCaseRef(taskCaseRef) %}
  <a href="#" class="govuk-link">{{ taskCaseRef }}</a>
{% endmacro %}

{% macro formatTaskDueDate(taskDueDate) %}
  {% if taskDueDate === 'Today' %}
    <div class="task-date--today govuk-heading-s govuk-!-font-weight-regular">{{ taskDueDate }}</div>
  {% endif %} 
  {% if taskDueDate === '04 Dec' %}
    <div class="task-date--future govuk-heading-s govuk-!-font-weight-regular">{{ taskDueDate }}</div>
  {% endif %} 
  {% if taskDueDate === '+2 days' %}
    <div class="task-date--past govuk-heading-s govuk-!-font-weight-regular">{{ taskDueDate }}</div>
  {% endif %} 
{% endmacro %}


{% macro setClaimTask(caseRef) %}
  <a href="/claim-task/{{caseRef}}">Claim this task</a>
{% endmacro %}

{% macro setDetails(caseRef) %}
  {{ govukDetails({
    html: setClaimTask(caseRef)
  }) }}
{% endmacro %}


{% macro myTasks(tasks) %}



{% set dynamicRows = [] %}
{% for task in tasks %}
    
    {% set row = [
      {
        html: formatTaskCaseRef(tasks[loop.index0].caseRef)
      },
      {
        text: tasks[loop.index0].caseName,
        classes: "govuk-!-font-weight-bold" 
      },
      {
        text: tasks[loop.index0].caseCategory
      },
      {
        text: tasks[loop.index0].location
      },
      {
        text: tasks[loop.index0].taskName
      },
      {
        html: formatTaskDueDate(tasks[loop.index0].dueDate),
        classes: "govuk-!-padding-bottom-0",
        attributes: {
          "data-sort-value": "1"
        }
      },
      {
        html: setDetails(tasks[loop.index0].caseRef)
      }
    ] 
    %}

    {% set dynamicRows = (dynamicRows.push(row), dynamicRows) %}
{% endfor %}


{{ govukTable({
  head: [
    {
      text: "Case reference",
      attributes: {
        "aria-sort": "ascending"
      },
      classes: "my-task-header"
    },
    {
      text: "Case name",
      classes: "my-task-header",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Case category",
      classes: "my-task-header",
       attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Location",
      classes: "my-task-header",
       attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Task",
      classes: "my-task-header",
       attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Date",
      attributes: {
        "aria-sort": "ascending"
      },
      classes: "my-task-header"
    },
    {
      classes: "my-task-header"
    }
  ],
  rows: dynamicRows
}) }}

    
{% endmacro %}
