#sign-out-button {
  position: absolute;
  right: 10px;
  top: 5px;
  float: right;
  padding: 10px;
  z-index: 100;
}

.govuk-header__logo {
  display: none;
}

.govuk-header__content {
  padding-left: 0%;
}
