.task-date {
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  
  &--future {
    @extend .task-date;
    background-color: green;
  }
  &--today {
    @extend .task-date;
    background-color: #a66900;
  }
  &--past {
    @extend .task-date;
    background-color: #e00;
  }
}

.my-task-header {
  border-bottom: none;
  padding-bottom: 30px;
}

.my-tasks-table {
  white-space: nowrap;
}

.wa-action-task {
  display: none;
  padding-bottom: 20px;
}
