.ccd-dropdown {
  background: url('/assets/images/dropdown-arrow.PNG') no-repeat 98%;
  background-size: 9px;
  font-size: 16px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  height: 31px;
  border-radius: 3px;
  border: solid 1px #122337;
  padding: 0px 0px 0 8px;
  margin: 0 -60px 0px 0;
  width: 60%;
  float: right;
}

.ccd-dropdown-label {
  float: left;
  margin-right: 0px;
  margin-left: 97px;
}

.next-step-govuk-button {
  float: right;
}

