.ccd-dropdown {
  background: url('/assets/images/dropdown-arrow.PNG') no-repeat 98%;
  background-size: 9px;
  font-size: 16px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  height: 31px;
  border-radius: 3px;
  border: solid 1px #122337;
  padding: 2px 30px 0 10px;
  margin: 0 0 30px 0;
}

.ccd-dropdown-label {
  float: left;
  margin-right: 10px;
}
