@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}

.status-bar {
    padding-bottom: 2rem;
    @include for-tablet-portrait-up {
        display: flex;
        padding: 1rem 0.5rem;
        padding-bottom: 6.250rem;
    }
    &__stage {
        position: relative;
        display: flex;
        @include for-tablet-portrait-up {
            flex-direction: column;
            &:not(:first-child) {
                width: 100%;
            }
        }
        h4 {
            position: absolute;
            bottom: 0;
            left: 2.5rem;
            line-height: 2.5rem;
            margin: 0;
            margin-left: .5rem;
            font-weight: 400;
            text-align: center;
            @include for-tablet-portrait-up {
                margin: 0;
                position: absolute;
                top: 3rem;
                right: 0;
                left: 0;
                line-height: 1.5625rem;
                transform:translateX(30%);
            }
        }

        &:first-child {
            h4 {
                @include for-tablet-portrait-up {
                    left: -2.5rem;
                }
            }
        }

        &:not(:first-child) {
            height: 4.6875rem;
            @include for-tablet-portrait-up {
                height: auto;
            }
        }
    }

    &__ring {
        border-radius: 50%;
        border: 6px solid #006435;
        width: 2rem;
        height: 2rem;
    }
}

.--leg {
    position: relative;
    > .status-bar__ring {
        position: relative;
        top: 2rem;
        @include for-tablet-portrait-up {
            top: 0;
            left: calc(100% - 2.75rem);
        }
    }

    &:before {
        content: '';
        border: solid .1875rem #006435;
        height: 2rem;
        position: absolute;
        left: 1.1875rem;
        @include for-tablet-portrait-up {
            height: auto;
            width: calc(100% - 3rem);
            left: 0;
            top: calc(100% / 2 - 0.1875rem);
        }
    }
}

.stage--active {
    .status-bar__ring {
        background-repeat: no-repeat;
        background-color: #006435;
        background-position: center;
    }

    h4 {
        font-weight: 700;
    }
}

.stage--ticked {
    .status-bar__ring {
        background-image: url('/assets/images/tick.png');
    }
}
