{% extends "template.njk" %}

{% from "components/my-tasks.njk" import myTasks %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}GOV.UK - WA prototype frontend{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    containerClasses: "app-width-container",
    serviceName: "Immigration & Asylum",
    serviceUrl: "/",
    navigation: [
      {
        href: "/",
        text: "My cases"
      },
      {
        href: "/my-case-work",
        text: "My casework",
        active: true
      },
      {
        href: "#",
        text: "All cases"
      },
      {
        href: "#",
        html: signOut()
      }  
    ]
  }) }}
{% endblock %}

{% block content %}
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-xl">My casework</h1>      
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l">My tasks</h1>      
  </div>
</div>

{{ myTasks(tasks.myTasks, "myTasks") }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">My available tasks</h1>
  </div>
</div>

{% macro listBox() %}
  <div>Work in Progress</div>
{% endmacro %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ govukDetails({
      summaryText: "Filter by location",
      html: listBox()
    }) }}    
  </div>
</div>

{{ myTasks(tasks.myAvailableTasks, "myAvailableTasks") }}

  
{% endblock %}


  {% block pageScripts %}
  {% include "includes/sortable-table-scripts.njk" %}
  <script>
    new MOJFrontend.SortableTable({
      table: $('table')[0]
    });
    new MOJFrontend.SortableTable({
      table: $('table')[1]
    });


  function hideShowDetailForGivenId(taskId) {
    let detail = document.getElementById(taskId);  
      
       if (!detail.style || detail.style.display === "" || detail.style.display === "none") {
         detail.style.display = "block";
        } else {
           detail.style.display = "none";
      }
  }

  
  document.querySelectorAll('details>summary[tasks-type=myTasks]').forEach((detail, index) => {
    detail.addEventListener('click', () => {
      hideShowDetailForGivenId('my-task-action-' + index);
    });
  });
  
  document.querySelectorAll('details>summary[tasks-type=myAvailableTasks]').forEach((detail, index) => {
    detail.addEventListener('click', () => {
      hideShowDetailForGivenId('my-available-task-' + index);
    });
  });

  </script>
 {% endblock %}


