{% extends "template.njk" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Manage cases",
    serviceUrl: "/",
    navigation: [
      {
        href: "/task-list",
        text: "Task list"
      },
      {
        href: "/task-manager",
        text: "Task manager",
        active: true
      },
      {
        href: "/",
        text: "Case list"
      },
      {
        href: "#",
        text: "Create case"
      },
      {
        href: "/",
        text: "Sign Out",
        attributes: {
          "id": "sign-out-button"
          }
      }  
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">Task manager</h1>
      <span class="govuk-hint">
        View tasks by location and caseworker
      </span>
    </div>    
</div>
{% endblock %}
