{% extends "template.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/my-tasks.njk" import myTasks %}

{% block header %}

  {{ govukHeader({
    homepageUrl: "/",
    containerClasses: "app-width-container",
    serviceName: "Manage cases",
    serviceUrl: "/",
    navigation: [
      {
        href: "/my-case-work",
        text: "Task list"       
      },
      {
        href: "/task-list",
        text: "Task manager",
        active: true
      },
      {
        href: "/",
        text: "Case list"
      },
      {
        href: "#",
        text: "Create case"
      },
      {
        href: "/",
        text: "Sign Out",
        attributes: {
          "id": "sign-out-button"
          }
      }  
    ]
  }) }}

{% endblock %}


{% block content %}  

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "task-list-radio-button",
  name: "task-list",
  fieldset: {
    legend: {
      text: "Task List",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Choose the tasks you'd like to view"
  },
  items: [
    {
      value: "myTasks",
      text: "My tasks",
      attributes: {
        "checked": "true"
      }
    },
    {
      value: "availableTasks",
      text: "Available tasks"
    }
  ]
}) }}

<div id="my-tasks-content" class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">My tasks</h3>
      {{ myTasks(tasks.myTasks, "myTasks") }}      
    </div>
</div>

<div id="available-tasks-content" class="govuk-grid-row" style="display:none">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">Available tasks</h3>      
      {{ myTasks(tasks.myAvailableTasks, "myAvailableTasks") }}
    </div>
</div>

{% endblock %}

{% block pageScripts %}
  {% include "includes/sortable-table-scripts.njk" %}
  {% include "includes/detail-actions-scripts.njk" %}

  <script>
    new MOJFrontend.SortableTable({
      table: $('table')[0]
    });
    new MOJFrontend.SortableTable({
      table: $('table')[1]
    });

    
    document.getElementById('task-list-radio-button').onclick = (event) => {
      if (event.currentTarget.checked) {
        document.getElementById('my-tasks-content').style.display = 'block';
        document.getElementById('available-tasks-content').style.display = 'none';
      } 
    };
    
    document.getElementById('task-list-radio-button-2').onclick = (event) => {
      if (event.currentTarget.checked) {
        document.getElementById('my-tasks-content').style.display = 'none';
        document.getElementById('available-tasks-content').style.display = 'block';
      } 
    };
  </script>
{% endblock %}



