{% extends "govuk/template.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block pageTitle %}GOV.UK - WA prototype frontend{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    containerClasses: "app-width-container",
    serviceName: "Manage cases",
    serviceUrl: "/",
    navigation: [
      {
        href: "/",
        text: "My cases",
        active: true
      },
      {
        href: "/my-case-work",
        text: "My casework"
      },
      {
        href: "#",
        text: "All cases"
      }, 
      {
        href: "/",
        text: "Sign Out",
        attributes: {
          "id": "sign-out-button"
          }
      }  
    ]
  }) }}
{% endblock %}


{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}


{% block bodyEnd %}

  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
  {% block pageScripts %}{% endblock %}
 
{% endblock %}
