{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro formatTaskDueDate(caseRef, tasksType, index, taskDueDate, dateColourCode) %}
  {% if dateColourCode === 'today' %}
    {{govukTag({
          text: taskDueDate,
          classes: "govuk-tag--orange"
      })
    }}
  {% endif %}
  {% if dateColourCode === 'future' %}
    {{govukTag({
          text: taskDueDate,
          classes: "govuk-tag--green"
      })
    }}
  {% endif %}
  {% if dateColourCode === 'past' %}
    {{govukTag({
          text: taskDueDate,
          classes: "govuk-tag--pink"
      })
    }}
  {% endif %}

  {% if tasksType === 'myTasks' %}
    <div id="my-task-action-{{index}}" class="wa-action-task action-button-0">
      <a href="/unclaim-task?caseRef={{caseRef}}">Release this task</a>
    </div>
  {% else %}
    <div id="my-available-task-action-{{index}}" class="wa-action-task action-button-0">
      <a href="/claim-task?caseRef={{caseRef}}&complete=true">Assign to me and go to case</a>
    </div>
  {% endif %}
{% endmacro %}

{% macro addActionToTask(rowValue, taskId, tasksType, index, caseRef) %}
  {{ rowValue }}
  {% if tasksType === 'myAvailableTasks' %}
    <div id="my-available-{{taskId}}-action-{{index}}" class="wa-action-task action-button-1">
      <a href="/claim-task?caseRef={{caseRef}}&complete=false">Assign to me</a>
    </div>
  {% elseif tasksType === 'myTasks' %}
    <div id="my-task-action2-{{index}}" class="wa-action-task action-button-1">
      <a href="/reassign-task?caseRef={{caseRef}}">Reassign task</a>
    </div>
  {% endif %}
{% endmacro %}

{% macro addActionToLocation(rowValue, taskId, actionName, tasksType, index, caseRef) %}
  {{ rowValue }}
  {% if tasksType === 'myAvailableTasks' %}
    <div id="my-available-{{taskId}}-action-{{index}}" class="wa-action-task action-button-2">
      <a href="#">{{ actionName }}</a>
    </div>
  {% endif %}
{% endmacro %}


{% macro setDetails(caseRef, tasksType) %}
  <details class="govuk-details">
    <summary class="govuk-details__summary" tasks-type="{{tasksType}}">
      <span class="govuk-details__summary-text">Manage</span>
    </summary>
  </details>
{% endmacro %}

{% macro setLink(caseRef,taskT) %}
  {% if taskT === "myTasks" %}
  <a href="/complete-task/{{ caseRef }}">{{ caseRef }}</a>
  {% elseif taskT === "myAvailableTasks" %}
  <div>{{ caseRef }}</div>
  {% endif %}
{% endmacro %}

{# tasks: list of tasks either myTasks or myAvailableTasks. #}
{# tasksType: type of the tasks, either myTasks or myAvailableTasks. It's used to set the claim/unclaim component correctly. #}
{% macro taskManagerTasks(tasks, tasksType) %}

{% set dynamicRows = [] %}
{% for task in tasks %}

    {% set row = [
      {
        text: setLink(task.caseRef,tasksType)
      },
      {
        text: task.caseName,
        classes: "govuk-!-font-weight-bold"
      },
      {
        text: task.caseCategory
      },
      {
        html: addActionToLocation(task.location, "task3", "Go to case", tasksType, loop.index0, task.caseRef)
      },
      {
        html: addActionToTask(task.taskName, "task2", tasksType, loop.index0, task.caseRef)
      },
      {
        html: formatTaskDueDate(task.caseRef, tasksType, loop.index0, task.dueDate, task.dateColourCode),
        classes: "govuk-!-padding-bottom-0",
        attributes: {
          "data-sort-value": task.dateOrder
        }
      },
      {
        text: task.caseworker
      },
      {
        html: setDetails(task.caseRef, tasksType)
      }
    ]
    %}

    {% set dynamicRows = (dynamicRows.push(row), dynamicRows) %}
{% endfor %}


{{ govukTable({
  head: [
    {
      text: "Case reference",
      attributes: {
        "aria-sort": "none"
      },
      classes: "my-task-header govuk-!-font-weight-regular"
    },
    {
      text: "Case name",
      classes: "my-task-header govuk-!-font-weight-regular",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Case category",
      classes: "my-task-header govuk-!-font-weight-regular",
       attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Location",
      classes: "my-task-header govuk-!-font-weight-regular",
       attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Task",
      classes: "my-task-header govuk-!-font-weight-regular",
       attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Due",
      attributes: {
        "aria-sort": "descending"
      },
      classes: "my-task-header govuk-!-font-weight-bold"
    },
    {
      text: "Caseworker",
      attributes: {
        "aria-sort": "none"
      },
      classes: "my-task-header govuk-!-font-weight-regular"
    },
    {
      classes: "my-task-header"
    }
  ],
  rows: dynamicRows
}) }}


{% endmacro %}
