{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro formatTaskDueDate(caseRef, tasksType, index, taskDueDate, dateColourCode) %}
  {% if dateColourCode === 'today' %}
    {{govukTag({
          text: taskDueDate,
          classes: "govuk-tag--orange"
      })
    }}
  {% endif %}
  {% if dateColourCode === 'future' %}
    {{govukTag({
          text: taskDueDate,
          classes: "govuk-tag--green"
      })
    }}
  {% endif %}
  {% if dateColourCode === 'past' %}
    {{govukTag({
          text: taskDueDate,
          classes: "govuk-tag--pink"
      })
    }}
  {% endif %}

  <div id="my-task-manager-action0-{{index}}" class="wa-action-task">
    <a href="">Manually complete</a>
  </div>
  
{% endmacro %}

{% macro addActionToTask(rowValue, taskId, tasksType, index, caseRef) %}
  
  {{ rowValue }}  
  
  <div id="my-task-manager-action1-{{index}}" class="wa-action-task">
    <a href="/reassign-task?caseRef={{caseRef}}&tasksType=myManagerTasks">Reassign task</a>
  </div>  

{% endmacro %}

{% macro setDetails(caseRef, tasksType) %}
  <details class="govuk-details">
    <summary class="govuk-details__summary" tasks-type="{{tasksType}}">
      <span class="govuk-details__summary-text">Manage</span>
    </summary>
  </details>
{% endmacro %}

{% macro taskManagerTasks(tasks, tasksType) %}

{% set dynamicRows = [] %}
{% for task in tasks %}

    {% set row = [
      {
        text: task.caseRef
      },
      {
        text: task.caseName,
        classes: "govuk-!-font-weight-bold"
      },
      {
        text: task.caseCategory
      },
      {
        html: task.location
      },
      {
        html: addActionToTask(task.taskName, "task2", tasksType, loop.index0, task.caseRef)
      },
      {
        html: formatTaskDueDate(task.caseRef, tasksType, loop.index0, task.dueDate, task.dateColourCode),
        classes: "govuk-!-padding-bottom-0",
        attributes: {
          "data-sort-value": task.dateOrder
        }
      },
      {
        text: task.caseworker
      },
      {
        html: setDetails(task.caseRef, tasksType)
      }
    ]
    %}

    {% set dynamicRows = (dynamicRows.push(row), dynamicRows) %}
{% endfor %}


{{ govukTable({
  head: [
    {
      text: "Case reference",
      attributes: {
        "aria-sort": "none"
      },
      classes: "my-task-header govuk-!-font-weight-regular"
    },
    {
      text: "Case name",
      classes: "my-task-header govuk-!-font-weight-regular",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Case category",
      classes: "my-task-header govuk-!-font-weight-regular",
       attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Location",
      classes: "my-task-header govuk-!-font-weight-regular",
       attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Task",
      classes: "my-task-header govuk-!-font-weight-regular",
       attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Due",
      attributes: {
        "aria-sort": "descending"
      },
      classes: "my-task-header govuk-!-font-weight-bold"
    },
    {
      text: "Caseworker",
      attributes: {
        "aria-sort": "none"
      },
      classes: "my-task-header govuk-!-font-weight-regular"
    },
    {
      classes: "my-task-header"
    }
  ],
  rows: dynamicRows
}) }}


{% endmacro %}
